******************************************************
*                                                    *
* DRILL TAPE SUMMARY REPORT                          *
*                                                    *
* C:\USERS\FOX\DESKTOP\ST\ISV0012V1\ISV0012V1-1.MAX  *
* Tue Apr 29 20:10:02 2014                           *
*                                                    *
******************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       79       30       200      100                                                                                 
T2       197      99       200      100                                                                                 
T3       380      6        200      100                                                                                 
T4       394      2        200      100                                                                                 
T5       590      3        200      100                                                                                 
T6       1772     4        200      100                                                                                 
